/* styles.css */

div.ipvbody {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

div.flex-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    min-height: 400px;
}

div.sold {
    flex: 1;
    padding: 1%;
    background: aquamarine;
    border: 1px solid green;
    color: green;
    min-width: 200px;
    max-width: 33%;
    min-height: 200px;
    margin: 20px;
    padding: 20px;
}

div.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

div.box {
    width: 29%;
    height: 29%;
    text-align: center;
}

div.left {
    background-color: #ddfbf6;
    color: #8acbc2;
    border: 1px solid #8acbc2;
}

div.middle {
    background-color: #f1f6f9;
    color: #8bb1c0;
    border: 1px solid #8bb1c0;
}

div.right {
    background-color: #fdf0ec;
    color: #ea795e;
    border: 1px solid #ea795e;
}

div.flex-container2 {
    display: flex;
    border: solid 1px black;
    padding: 20px;
    width: 800px;

}

div.bestProduct {
    width: 300px;
}

div.bestsellingTVinfo {
    width: 400px;
}


/*/////////////////// img /////////////////////*/

img.bestsellingTV {
    width: 250px;
}

/*/////////////////// buttons /////////////////////*/

button {
    margin-top: 20px;
    margin-right: 50px;
    padding: 5px;
    background: #8bb1c0;
    border: 1px solid black;

}